body {
	padding-top: 8px;
	padding-left: 8px;
	background-color: #BDD9FD;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	color:#003366;
	/*padding:3px;*/
}

#poof {
	background: transparent url(../images/poofing.png) 0 0 no-repeat;
	position: absolute;
	right: 25px;
	top: 310px;
	z-index: 2000;
	cursor: pointer;
	display: none;
	height: 32px;
	width: 32px;
}

#sortable-deleted {
height: 41px;
width: 41px;
overflow: hidden;
background: url('../images/bin.png') 0 50% no-repeat;
float: right;
z-index:1000;
}

.leaveNote-title {
	float: left;
	width: 8em;
	color: #990000;
	padding: 0.5em;
	font-style: italic;
}

.leaveNote-date, .note-date {
	float: left;
	width: 8em;
	color:#666666;
	margin: 0.25em;
	padding: 0.25em;
}

.note-date {
	clear:both;
	font-size: 12px;
}

.leaveNote-message {
	float: left;
	width: 27em;
	color: #333333;
	background-color: #efefdd;
	margin: 0.25em;
	padding: 0.25em;
}

.report-line {
	float: left;
	font-size: 1em;
	line-height: 1.5em;
	padding: 0.25em;
	width: 20em;
	text-align: right;
}

.report-header {
	position: absolute;
	width: 92.5%;
	height: 2em;
	padding: 1.5em;
	left:  10px;
	top: 62px;
	background-color: #A9B9C9;
	box-shadow: 0 5px 5px #888888;
}

.calendar_main{
	float:left;
	width:300px;
	height:750px;
	background-color:#FFFFFF;
	border-left:1px #6593CF solid;
	border-right:1px #6593CF solid;
	border-bottom:1px #6593CF solid;
	padding-bottom:3px;
}

.logoff {
	float:right;
	height:20px;
	background: transparent url('../images/logoff-icon.png') no-repeat top left;
	padding-left:25px;
	padding-top:3px;
	padding-right:20px;
}

.working_space {
	position: absolute;
	left: 310px;
	top: 8px;
	margin-left:2px;
	width:78%;
	height:750px;
	min-width: 620px;
	background: transparent url('images/flexitimeclocks.gif') no-repeat bottom right;
	background-color:#FFFFFF;
	padding-bottom:3px;
	border-left:1px #6593CF solid;
	border-right:1px #6593CF solid;
	border-bottom:1px #6593CF solid;
	overflow-y:scroll;
}

.top_menu_space, .sub_menu_space {
	border-bottom: 1px #6593CF solid;
	box-shadow: 0 2px 3px #888888;
}

.top_menu_space {
	height:24px;
	background-color:#BDD9FD;
	border-top: 1px #6593CF solid;
}

.sub_menu_space {
	padding-left:5px;
	height:23px;
	background: transparent url('images/submenu_background.png') repeat;
}

.sub_menu_button {
	float:left;
	padding-top:3px;
	padding-left:5px;
	padding-right:10px;
}

.sub_menu_button A:link {text-decoration: none; color:#666}
.sub_menu_button A:visited {text-decoration: none; color:#666}
.sub_menu_button A:active {text-decoration: none}
.sub_menu_button A:hover {text-decoration: none; color:#333;}

#note_title {
	padding: 0.5em;
	color:#003366;
	text-decoration: underline;
	font-size: 1.5em;
}
#note_date {
	padding-left: 1.5em;
	color:#6593CF;
}

#note_line {
	padding-left: 1.5em;
	color:#666666;
}

.header_left, .button_top {
	background: transparent url('images/header_background.png') repeat;
}

.header_left {
	float:left;
	height:24px;
	border-top: 1px #6593CF solid;
	border-bottom: 1px #6593CF solid;
	width:300px;
}

.button_choice {
	background-color:#FC9;
}

.button_link A:link {text-decoration: none; color:blue}
.button_link A:visited {text-decoration: none; color:blue}
.button_link A:active {text-decoration: none}
.button_link A:hover {text-decoration: none; color: red;}
	
.button_top, .button_choice{
	float:left;
	height:21px;
	padding-top:3px;
	font-family:Geneva, Arial, Helvetica, sans-serif;
	text-align:center;
	border-right: 1px #6593CF solid;
}

.header_text {
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	color:#036;
	padding:3px;
	padding-left:10px;
	text-align:left;
}

.left_body {
	padding-top:10px;
	padding-bottom:10px;
	font-family:Verdana, Geneva, sans-serif;
}

.left_body_spacer {
	padding-left:10px;
	padding-right:10px;
}
.left_header {
	display:block;
	float:left;
	font-size:11px;
	font-weight:bold;
	width:90px;
}

.left_text, .left_text_small {
	display: block;
	overflow:hidden;
	//font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#06F;
}

.left_text_small {
	float:left;
	padding: 0.5em;
}

.left_text_image {
	float:left;
	padding-left: 10px;
}

.left_clear {
	clear:both;
}
.calendar_holder {
	padding-left:7px;
	background-color:#fff;
}
.calendar_header {
	float:left;
	text-align:center;
	background-color:#bfdbff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:9px;
	width:140px;
	height:13px;
	margin-top:5px;
	margin-left:2px;
	margin-bottom:1px;
}

.calendar_body {
	float:left;
	background-color:#fff;
	width:140px;
	height:115px;
	margin-top:1px;
	margin-left:2px;
	margin-bottom:1px;
}

.calendar_day, .calendar_day_name, .calendar_today{
	float:left;
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:9px;
	padding-bottom:2px;
	text-align:right;
}

.calendar_day {
	width:18px;
	background-color:#fff;
	border:1px #fff solid;
}

.calendar_day a:link {
	color: #333;
	text-decoration: none;
}

.calendar_day a:visited {
	color: #333;
	text-decoration: none;
}

.calendar_day a:hover {
	color: #333;
	text-decoration: none;
	background-color: #BDD9FD;
}

.calendar_day_name {
	width:18px;
	background-color:#fff;
	border:1px #fff solid;
	border-bottom:1px #bfdbff solid;
}

.calendar_today {
	width:10px;
	border:1px #fff solid;
	color: #900;
	margin-left: 8px;
	background-color: #FEDBBC;
}
.calendar_today a:link {
	color: #900;
	text-decoration: none;
}

.calendar_today a:visited {
	color: #900;
	text-decoration: none;
}

.calendar_today a:hover {
	color: #333;
	text-decoration: none;
	background-color: #BDD9FD;
}

.calendar_view {
	float:left;
	width:300px;
	margin-bottom:10px;
	padding-top:3px;
	padding-bottom:3px;
	background-color:#FDFAEE;
	border-top: 1px #FDE31D solid;
	border-bottom: 1px #FDE31D solid;
}

.calendar_pic {
	vertical-align:middle;	
}
.request_view, .request_message {
	float:left;
	width:300px;
	margin-top:10px;
	margin-bottom:10px;
	padding-top:3px;
	padding-bottom:5px;

}

.request_message {
	background-color:#FEDBBC;
	border-top: 1px #900 solid;
	border-bottom: 1px #900 solid;
}

.request_pad {
	padding-left:10px;
}

.main_header {
	padding-top:100px;
	padding-bottom:10px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:18px;
	color:#336;
	text-align:center;
}

.main_left {
	margin-left:35%;
	float:left;
	width:30%;
	height:auto;
	overflow:hidden;
}

.main_left img {
	height: auto;
	max-height: 400px;
	max-width: 250px;
	width: 80%;
	min-width: 40%;
}

.main_right {
	clear:both;
	padding:20px;
	background-color:#FEDBBC;
	border-top: 1px #900 solid;
	border-bottom: 1px #900 solid;
	margin: 20% 20%;
}

.show_icon {
	float:left;
	padding:50px;
}

.edit_icon {
	border:none;
	padding-top:5px;
	vertical-align:middle;
}

