@media only screen and (max-width: 2880px) {
	.timesheet_table_header, .timesheet_table_header_we, .timesheet_table_header_blank, .timesheet_table_header_white, .timesheet_table_header_white_we, .timesheet_table_header_time {
		font-size:11px;
	}
	.timesheet_table_header {
		width: 12%;
	}
	.timesheet_table_header_white {
		width: 12%;
	}
	.timesheet_table_header_blank, .timesheet_table_header_we {
		width:7.5%;
		font-size:11px;
	}
	.timesheet_table_header_white_we, .timesheet_table_header_time {
		width: 7.5%;
		min-width: 60px;
	}
	.timesheet_workspace {
		width:99.5%;
	}
	.button_choice, .button_top {
		font-size: 14px;
		width: 80px;
	}
	.sub_menu_button {
		font-size: 13px;
	}
	.timesheet_footer {
	font-size: 12px;
	}
}


@media only screen and (max-width: 1400px) {
	.timesheet_table_header, .timesheet_table_header_we, .timesheet_table_header_blank, .timesheet_table_header_white, .timesheet_table_header_white_we, .timesheet_table_header_time {
		font-size:11px;
	}
	.timesheet_table_header {
		width: 12%;
	}
	.timesheet_table_header_white {
		width: 12%;
	}
	.timesheet_table_header_blank, .timesheet_table_header_we {
		width:7.5%;
		font-size:11px;
	}
	.timesheet_table_header_white_we, .timesheet_table_header_time {
		width: 7.5%;
		min-width: 60px;
	}
	.timesheet_workspace {
		width:99.5%;
	}
	.timesheet_team_leave {
		width:95%;
	}
	.button_choice, .button_top {
		font-size: 14px;
		width: 80px;
	}
	.sub_menu_button {
		font-size: 13px;
	}
	.timesheet_footer {
	font-size: 12px;
	}
	
}
@media only screen and (max-width: 1275px) {
	.working_space {
		width: 70%;
	}
	.timesheet_table_header, .timesheet_table_header_we, .timesheet_table_header_blank, .timesheet_table_header_white, .timesheet_table_header_white_we, .timesheet_table_header_time {
		font-size:11px;
	}
	.timesheet_table_header {
	font-size: 11px;
		width: 11%;
	}
	.timesheet_table_header_white {
		font-size: 11px;
		width: 11%;
	}
	.timesheet_table_header_we {
		width:8.5%;
		font-size:11px;
	}
	.timesheet_table_header_blank {
		width:7.5%;
		font-size:9px;
	}
	.timesheet_table_header_white_we, .timesheet_table_header_time {
		font-size: 11px;
		width:8.5%;
		min-width: 60px;
	}
	.timesheet_workspace {
		width:99%;
		min-width: 600px;
	}
	.timesheet_team_leave {
		width:85%;
	}
	.button_choice, .button_top {
		font-size: 14px;
		width: 80px;
	}
	.sub_menu_button {
		font-size: 13px;
	}
	.timesheet_footer {
	font-size: 11px;
	}
}
@media only screen and (max-width: 1144px) {
	.working_space {
		width: 70%;
	}
	.timesheet_table_header, .timesheet_table_header_we, .timesheet_table_header_blank, .timesheet_table_header_white, .timesheet_table_header_white_we, .timesheet_table_header_time {
		font-size:11px;
	}
	.timesheet_table_header {
		font-size: 11px;
		width: 11%;
	}
	.timesheet_table_header_white {
		font-size: 11px;
		width: 11%;
	}
	.timesheet_table_header_we {
		width:8.5%;
		font-size:11px;
	}
	.timesheet_table_header_blank {
		width:8.5%;
		font-size:9px;
	}
	.timesheet_table_header_white_we, .timesheet_table_header_time {
		font-size: 11px;
		width:8.5%;
		min-width: 60px;
	}
	.timesheet_workspace {
		width:99%;
		min-width: 600px;
	}
	.timesheet_team_leave {
		width:85%;
	}
	.button_choice, .button_top {
		font-size: 14px;
		width: 80px;
	}
	.sub_menu_button {
		font-size: 13px;
	}
	.timesheet_footer {
	font-size: 11px;
	}
}

@media only screen and (max-width: 1080px) {
	.working_space {
		width: 67%;
	}
	.timesheet_table_header, .timesheet_table_header_we, .timesheet_table_header_blank, .timesheet_table_header_white, .timesheet_table_header_white_we, .timesheet_table_header_time {
		font-size:11px;
	}
	.timesheet_table_header {
		width: 11.5%;
		font-size: 11px;
	}
	.timesheet_table_header_white {
		width: 11.5%;
		font-size: 11px;
	}
	.timesheet_table_header_we {
		min-width:60px;
		width: 9.5%;
		font-size:10px;
	}
	
	.timesheet_table_header_white_we, .timesheet_table_header_time {
	font-size: 10px;
	width: 9.5%;
	min-width: 60px;
	}
	.timesheet_table_header_blank {
		display: none;
	}
	.timesheet_workspace {
		width:98.5%;
		min-width: 600px;
	}
	.timesheet_team_leave {
		width:95%;
	}
	.button_choice, .button_top {
		font-size: 12px;
		width: 70px;
	}
	.sub_menu_button {
		font-size: 12px;
	}
	.timesheet_footer {
	font-size: 10px;
	}
}

@media only screen and (max-width: 768px) {
	.working_space {
		position: absolute;
		left: 15px;
		top: 8px;
		min-width: 710px;
	}
	.header_left {
		display: none;
	}
	.calendar_main{
		display: none;
	}
	.timesheet_table_header, .timesheet_table_header_we, .timesheet_table_header_blank, .timesheet_table_header_white, .timesheet_table_header_white_we, .timesheet_table_header_time {
		font-size:11px;
	}
	.timesheet_table_header {
		width: 11.5%;
		font-size: 11px;
	}
	.timesheet_table_header_white {
		width: 11.5%;
		font-size: 11px;
	}
	.timesheet_table_header_we {
		min-width:60px;
		width: 9.5%;
		font-size:11px;
	}
	
	.timesheet_table_header_white_we, .timesheet_table_header_time {
	font-size: 11px;
	width: 9.5%;
	min-width: 60px;
	}
	.timesheet_table_header_blank {
		display: none;
	}
	.timesheet_workspace {
		width:98.5%;
		min-width: 650px;
	}
	.timesheet_team_leave {
		width:95%;
	}
	.button_choice, .button_top {
		font-size: 12px;
		width: 70px;
	}
	.sub_menu_button {
		font-size: 12px;
	}
	.timesheet_footer {
	font-size: 10px;
	}
}
@media only screen and (max-width: 568px) {
	.working_space {
		position: absolute;
		left: 4px;
		top: 4px;
		min-width: 550px;
	}
	.header_left {
		display: none;
	}
	.calendar_main{
		display: none;
	}
	.timesheet_table_header, .timesheet_table_header_we, .timesheet_table_header_blank, .timesheet_table_header_white, .timesheet_table_header_white_we, .timesheet_table_header_time {
		font-size:8px;
	}
	.timesheet_table_header {
		width: 11.5%;
		font-size: 8px;
	}
	.timesheet_table_header_white {
		width: 11.5%;
		font-size: 8px;
	}
	.timesheet_table_header_we {
		min-width:40px;
		width: 6.5%;
		font-size:8px;
	}
	
	.timesheet_table_header_white_we, .timesheet_table_header_time {
	font-size: 8px;
	width: 6.5%;
	min-width: 40px;
	}
	.timesheet_table_header_blank {
		display: none;
	}
	.timesheet_workspace {
		width:98.5%;
		min-width: 540px;
	}
	.timesheet_team_leave {
		width:95%;
	}
	.button_choice, .button_top {
		font-size: 11px;
		width: 60px;
	}
	.sub_menu_button {
		font-size: 11px;
	}
	.timesheet_footer {
	font-size: 10px;
	}
}

.timesheet_header, .timesheet_subheader {
	padding:10px;
	font-size:18px;
	color:#F00;
}

.timesheet_subheader {
	color:#0099CC;
}

.timesheet_footer {
	float:left;
	margin:10px;
	padding:5px;
	vertical-align:middle;
	font-family:Verdana, Geneva, sans-serif;
	color:#003366;
	background-color:#FFF;
	border: 1px #6593CF solid;
	box-shadow: 0 2px 3px #888888;
}

.timesheet_name {
	padding-left:30px;
	font-size:14px;
	color:#003366;
}
.timesheet_workspace{
	margin-top:5px;
	margin-left:2px;
	padding-bottom:10px;
	float:left;
}

.timesheet_workspace_times {
	background-color:#BDD9FD;
	border: 1px #6593CF solid;
}

.timesheet_flexipot {
	height:17px;
	margin-top: 5px;
	margin-left:10px;
	font-size:11px;
	color:#06F;
	background: transparent url('images/flexitimePot.jpg') no-repeat;
	padding-left:25px;
}

.timesheet_event_filter {
	margin-right:300px;
	width: 218px;
	float:right;
	padding:10px;
	background-color:#B3CAF4;
	border: 1px #666 solid;
}
	
.timesheet_table_header, .timesheet_table_header_we, .timesheet_table_header_blank, .timesheet_table_header_white, .timesheet_table_header_white_we, .timesheet_table_header_time {
	float:left;
	text-align:center;
	/*font-size:11px;*/
	height:24px;
}

.timesheet_padding {
	padding-top:5px;
}

.timesheet_table_header {
	text-align:center;
	margin-top:10px;
	background: transparent url('images/header_background.png') repeat;
	border-right: 1px #fff solid;
	border-left: 1px #6593CF solid;
	border-bottom:1px #fff solid;
}

.timesheet_table_header_we {
	min-width: 50px;
	text-align:center;
	margin-top:10px;
	background: transparent url('images/header_background.png') repeat;
	border-right: 1px #fff solid;
	border-left: 1px #6593CF solid;
	border-bottom:1px #fff solid;
}

.timesheet_table_header_white {
	overflow:hidden;
	background-color:#fff;
	border-right: 1px #eee solid;
	border-left: 1px #6593CF solid;
	border-top: 1px #6593CF solid;
}

.timesheet_table_header_addIcon {
	background: transparent url('images/document_add.jpg') no-repeat;
	height: 18px;
	width: 18px;
	float: right;
	background-color: #CCC;
	margin-top: -6px;
	margin-right: -2px;
	opacity: 0.25;
}

.timesheet_table_header_addIcon:hover {
	opacity: 0.75;
}


.timesheet_table_header_white_we, .timesheet_table_header_time {
	min-width: 50px;
	border-right: 1px #fff solid;
	border-left: 1px #6593CF solid;
	border-top: 1px #6593CF solid;
}

.timesheet_table_header_time {
	background-color:#FC9;	
}

.timesheet_event_time {
	float:left;
	width:75px;
	background-color:#0F0;
	height:15px;
}

.timesheet_event_flex {
	float:left;
	width:40px;
	background-color:#F00;
	height:15px;
}

.timesheet_event_leave {
	float:left;
	width:75px;
	background-color:#09C;
	height:80%;
}

.timesheet_event_sickness {
	float:left;
	width:75px;
	background-color:#9C0;
	height:80%;
}

.timesheet_team_name {
	font-size: 1.25em;
	width: 90%;
	color: #474443;
}
.timesheet_team_leave {
	clear: both;
	margin: 0.75em;
	padding: 0.75em;
	background-color:#BDD9FD;
	border: 1px #6593CF solid;
	max-height: 32em;
	overflow-y: scroll;
	opacity: 0.9;
	box-shadow: 0 2px 3px #888888;
}

.timesheet_leave_name {
	margin: 2px;
	clear: both;
	float:left;
	width: 13em;
	padding: 0.85em;
	font-family: arial;
	background-color: #ccc;
	font-size: 1em;
	border: 1px solid #999;
}

.timesheet_members {
	display: inline;
	float: left;
	width: 13em;
	padding: 1em;
	color: #ff0000;
}

.timesheet_leave_day {
	margin: 2px;
	float: left;
	text-align: center;
	width: 4em;
	font-size: 0.9em;
	line-height: 1.5em;
	padding: 0.2em;
	border: 1px solid #999;
}

